.chat {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: whitesmoke;
}

.chat__headerInfo {
  margin-left: 20px;
  flex: 0.9;
}

.chat__headerInfo > h3 {
  font-weight: 400;
}
.chat__headerInfo > p {
  font-weight: 200;
  color: grey;
}

.chat__headerRight {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 5px 70px;
  overflow: scroll;
  
}
.chat__body::-webkit-scrollbar{
  display: none;
}

.chat__message {
  font-size: 16px;
  background-color: white;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.chat__timestamp {
  font-size: 9px;
  margin-left: auto;
  margin-top: 5px;
}

.chat__name {
  font-weight: 700;
  font-size: 14px;
}

.chat__messageInfo {
  display: flex;
  flex-direction: column;
}

.chat__reciever {
  margin-left: auto;
  background-color: #efc !important;
}
.chat__footer {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-top: 1px solid lightgray;  
  position: relative;
}

.chat__footer>form{
  display: flex ;
  flex: 1 ;
}

.chat__footer>form>input[type="text"]{
  flex: 1;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 10px;
  line-height: 10px;
  font-size: 18px;
}

.chat__footer>form>button{
  border: none;
  color: gray;
  outline: none;
}

.chat__footer>.MuiSvgIcon-root {
  padding: 8px;
  color: gray;
}

.chat__footer form{
  display: flex;
  align-items: center;
}

input[type="file"]::-webkit-file-upload-button{
 display: none;
}
input[type=file] {
  max-width: 10%; 
  height: 15px;
  margin-left: -20px;
  border: none;
  padding-left: 10px;
}


.chat__media>embed{
  max-width:300px;
  object-fit: fill;
}

.chat__media>embed::-webkit-scrollbar{
  display: none;
}

.chat__media{
  margin-bottom: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 5px;
  position: relative;
  padding: 5px;
  background-color: #fff;
  
}

.chat__media>a{
  color: gray;
  margin-top: 5px;
  align-self: flex-end;
  font-size: 30px;
}


.attach__file{
  cursor: pointer;
}

.imageUploader-progress {
  width: 100%;
  height: 40px;
  margin-left: 30px;
  margin-right: 30px;
}


.chat__footer button{
  border: none;
  outline: none;
  cursor: pointer;
  color: gray;
}

.chat__footer>button:focus{
  border: none;
}
.emoji-picker-react{
  position: absolute !important;
  width: 100% !important;
  height: 400px;
  color: white !important;
  bottom: 55px;
  background-color: whitesmoke !important;
}

.frequencyBars{
  max-width: 150px;
}
.clear__icon{
  color: tomato !important;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 5px;
  font-size: 30px !important;
}

.right__icon{
  color: #45ce5d !important;
  border: 1px solid !important;
  border-radius: 50% ;
  font-size: 30px !important;
  margin-left: 10px;
}

.clear__icon:hover{
  background-color: tomato;
  color: white !important;
}

.right__icon:hover{
  background-color: #45ce5d;
  color: white !important;
}

.chat__footerRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat__footerRight >.false{
  opacity: 0;
  width: 0;
}

@media(max-width:500px){
  .chat__body{
    max-height: 800px;
  }
}